@import url("variables.css");

#app {
  background-color: var(--secondary-background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 11rem auto;

  /*max-width: 150rem;
  width: 100%;*/
  min-height: 100vh;
}

h1 {
  font-size: var(--font-size-big);
  color: var(--text-color-title);
  font-weight: bold;
  text-align: center;
}

.svg {
  width: 1.8rem;
  height: 1.8rem;
}

/*INICIO DE ESTILOS DEL INICIO DE SESION Y REGISTRO*/
.login-register-view,
.config-address-view {
  max-width: 60rem;
  width: 60vw;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--primary-background-color);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-form {
  margin-top: 1rem;
  font-size: var(--font-size-medium);
}

.account-form__button-login,
.account-form__button-signup,
.form__button {
  width: 100%;
  padding: 1.3rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color-base);
  cursor: pointer;
  border-radius: .5rem;
  transition: all .3s ease;
  margin-top: 1rem;
}

.account-form__button-login:hover,
.account-form__button-signup:hover,
.form__button:hover {
  background-color: var(--text-color-hover-buttons);
}

.account-form__logs {
  padding-bottom: 1.5rem;
}

.account-form__error,
.form__error,
.attribute__error {
  color: var(--error-color);
  padding: .3rem 0;
  font-size: var(--font-size-small);
}

.form__log {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--help-color);
  padding: .3rem 0;
  font-size: var(--font-size-small);
}

.form__log .svg {
  color: var(--primary-color);
}

.form__log .svg.error {
  color: var(--required-color);
}

.account-form__forget-password,
.account-form__register-link,
.account-form__login-link {
  display: block;
  padding: .5rem 0 2.5rem;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  text-decoration: none;
}

.account-form__register-link,
.account-form__login-link {
  padding: 2rem;
  color: var(--text-color-body);
}

.account-form__register-link a,
.account-form__login-link a {
  color: var(--secondary-color);
  text-decoration: none;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider__line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--separators-color);
}

.divider__text {
  padding: 0 1rem;
  color: var(--text-color-body);
  font-size: var(--font-size-small);
}

.oauth {
  width: 100%;
  margin-top: 1rem;
}

.oauth__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-small);
  padding: 1.3rem;
  border: none;
  color: var(--text-color-base);
  border-radius: .5rem;
  cursor: pointer;
  margin: .5rem 0;
  gap: 1rem;
}

.oauth__button--facebook {
  background-color: #3B5998;
}

.oauth__button--google {
  background-color: transparent;
  border: solid .1rem var(--gray-color);
  color: var(--gray-color);
}

/*FINAL DE ESTILOS PARA INICIO DE SESION Y REGISTRO*/

/* INICIO PARA LA VISTA DE CATEGORIAS */
.principal {
  display: flex;
  width: 70vw;
  max-width: 150rem;
  margin: 2rem 1rem;
  padding: 1rem;
  min-height: 30rem;
  gap: 4rem;
}

.listFilters {
  width: 20%;
}

.listMain {
  width: 80%;
}

.resume {
  width: 30%;
}

.listProducts {
  width: 70%;
}


.filters__title,
.listProducts__title,
.resume__title {
  font-size: var(--font-size-big);
  color: var(--text-color-title);
  margin-bottom: 1.5rem;
}

.filters__subtitle {
  font-size: var(--font-size-medium);
  color: var(--text-color-title);
  margin: 1rem 0;
}



/* FIN PARA LA VISTA DE CATEGORIAS */


/* INICIO DE ESTILOS PARA USER PROPILE*/

.userProfile,
.dashboard {
  margin-top: 11rem;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 7.2rem);
  height: 100%;
}

.dashboard {
  margin-top: 7.2rem;
}

.loadComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}

/* INICIO PARA ESTILOS DE VUE SELECT */

#sizes .vs__dropdown-toggle,
#colors .vs__dropdown-toggle {
  border: solid .1rem var(--border-color);
  padding: 1rem;
  border-radius: .7rem;
  background: none;
}

#sizes .vs__deselect,
#colors .vs__deselect {
  fill: var(--required-color);
}

#sizes .vs__open-indicator,
#colors .vs__open-indicator {
  fill: var(--text-color-body);
}

#sizes .vs__dropdown-menu,
#colors .vs__dropdown-menu {
  font-size: var(--font-size-small);
}

#sizes .vs__selected,
#colors .vs__selected {
  background-color: transparent;
  font-size: var(--font-size-small);
  margin: 0;
  color: var(--text-color-body);
  border: none;
}

#sizes .vs__selected-options,
#colors .vs__selected-options {
  gap: .5rem;
}

#sizes .vs__dropdown-menu,
#colors .vs__dropdown-menu {
  margin-top: .5rem;
  background-color: var(--primary-background-color);
  padding: 0;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  border: .1rem solid var(--border-color);

}

#sizes .vs__dropdown-menu .vs__dropdown-option,
#colors .vs__dropdown-menu .vs__dropdown-option {
  padding: 10px;
  color: var(--text-color-body);
  cursor: pointer;
  padding: .5rem 1.5rem;
}

#sizes .vs__dropdown-menu .vs__dropdown-option:hover,
#colors .vs__dropdown-menu .vs__dropdown-option:hover,
#colors .vs__dropdown-option--highlight,
#sizes .vs__dropdown-option--highlight {
  background-color: var(--background-hover-menus);
}


#sizes .vs__dropdown-menu .vs__dropdown-option.vs--selected,
#colors .vs__dropdown-menu .vs__dropdown-option.vs--selected {
  background-color: var(--option-hover-color);
  font-weight: bold;
  color: var(--primary-color);
}

#sizes .vs__dropdown-menu .vs__dropdown-option.vs--selected:hover,
#colors .vs__dropdown-menu .vs__dropdown-option.vs--selected:hover {
  background-color: var(--background-hover-menus);
}

.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  background-color: transparent !important;
}

/* FIN PARA LOS ESTILOS DE VUE SELECT */



/* INICIO DE LOS ESTILOS PARA ADMIN */

.addProducto,
.crud,
.addAttribute,
.addCategory {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 150rem;
  height: auto;
}

.addProducto___title,
.crud__title,
.addAttribute__title,
.addCategory__title {
  font-size: var(--font-size-big);
  color: var(--text-color-title);
  margin-top: 3rem;
  text-align: left;
  font-weight: 600;
}

.form__required,
.addAttribute__required,
.addCategory__required {
  color: var(--required-color);
}

.form__input,
.addAttribute__input,
.form__select,
.form__textarea,
.crud__select,
.addAttribute__select,
.addCategory__input {
  padding: 1rem;
  font-size: var(--font-size-small);
  background-color: var(--primary-background-color);
  color: var(--text-color-body);
  border-radius: .7rem;
  border: solid .1rem var(--border-color);
  outline: none;
}

.form__input:focus,
.addAttribute__input:focus,
.form__select:focus,
.form__textarea:focus,
.crud__select:focus,
.addAttribute__select:focus,
.addCategory__input:focus {
  border-color: var(--primary-color);
}

.form__input::placeholder,
.form__textarea::placeholder,
.addAttribute__input::placeholder,
.addAttribute__select::placeholder {
  color: var(--help-color);
}

.form__input:focus,
.form__select:focus,
.form__textarea:focus {
  border-color: var(--text-color-body);
}

.form__errors,
.attribute__errors,
.form__logs {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form__label {
  font-size: var(--font-size-small);
  font-weight: 500;
  padding: 1rem 0;
  color: var(--text-color-body);
  margin-top: 1rem;
}

.form__label--file,
.addCategory__label--file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.form__upload-text,
.addCategory__upload-text {
  width: 70%;
  color: var(--help-color);
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
}

.addCategory__upload-text {
  width: 100%;
}

.form__upload-text--bold,
.addCategory__upload-text--bold {
  color: var(--primary-color);
}

.form__image,
.addCategory__upload-image,
.addCategory__image {
  position: relative;
  width: calc(31% - 2rem);
  height: 17rem;
  border: solid .1rem var(--border-color);
  border-radius: .7rem;
  overflow: hidden;
  padding: 1rem;
  transition: all .3s ease-in-out;
}

.addCategory__image {
  height: 25rem;
}

.form__image--border,
.addCategory__image--border {
  border: dashed .1rem var(--primary-color);
}

.addCategory__image--border svg,
.form__image-wrapper svg {
  width: 5rem;
  height: 5rem;
  color: var(--primary-color);
}

.form__images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form__image img,
.addCategory__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form__image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #0000008b;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.form__image-wrapper:hover {
  opacity: 1;
}

.addCategory__button-container,
.addAttribute__button-container {
  display: flex;
  justify-content: right;
  width: calc(100% - 25rem);
}

.addAttribute__button,
.addCategory__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 7rem;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color-base);
  font-size: var(--font-size-medium);
  border-radius: .7rem;
  transition: all .3s ease-in-out;
  text-decoration: none;
}

/* FIN DE LOS ESTILOS PARA ADMIN */



.popup-content h2 {
  font-size: var(--font-size-big);
  font-weight: 600;
  margin-bottom: 2rem;
}

.popup-content p {
  text-align: left;
}

.popup-content ul {
  text-align: left;
  list-style-type: circle;
}

/* REGISTRO E INICIO DE SESION */


@media (width <=768px) {
  main {
    margin: 7.5rem auto 3rem;
  }

  .userProfile {
    margin-top: 7rem;
  }

  .loadComponent {
    width: 75%;
  }

  .principal {
    flex-direction: column;
    width: 90vw;
  }

  .listFilters {
    display: none;
  }

  .listMain {
    width: 100%;
  }
}

@media (width <=390px) {

  .userProfile {
    margin-top: 5rem;
  }

  .loadComponent {
    width: 85%;
  }
}