@import url("variables.css");

#app {
  background-color: var(--secondary-background-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#sizes .vs__dropdown-toggle,
#colors .vs__dropdown-toggle {
  border: solid .1rem var(--border-color);
  padding: 1rem;
  border-radius: .7rem;
  background: none;
}

/* Estilos para el menú desplegable */
#sizes .vs__dropdown-menu,
#colors .vs__dropdown-menu {
  font-size: var(--font-size-small);
  /* Personaliza el menú desplegable */
}

#sizes .vs__selected,
#colors .vs__selected {
  background-color: var(--option-hover-color);
  font-size: var(--font-size-small);
  margin: 0;
}

#sizes .vs__selected-options,
#colors .vs__selected-options {
  gap: .5rem;
}

#sizes .vs__dropdown-menu,
#colors .vs__dropdown-menu {
  margin-top: .5rem;
  background-color: #fff;
  padding: 0;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
}

/* Estilos para las opciones individuales */
#sizes .vs__dropdown-menu .vs__dropdown-option,
#colors .vs__dropdown-menu .vs__dropdown-option {
  padding: 10px;
  /* Espaciado interno */
  color: var(--text-color-body);
  /* Color del texto */
  cursor: pointer;
  padding: .5rem 1.5rem;
  /* Cambia el cursor al pasar por encima */
}

/* Estilo al pasar el ratón sobre una opción */
#sizes .vs__dropdown-menu .vs__dropdown-option:hover,
#colors .vs__dropdown-menu .vs__dropdown-option:hover {
  background-color: #e0e0e0;
  /* Fondo al pasar el ratón */
}

/* Estilo para las opciones seleccionadas */
#sizes .vs__dropdown-menu .vs__dropdown-option.vs--selected,
#colors .vs__dropdown-menu .vs__dropdown-option.vs--selected {
  background-color: #d0f0c0;
  /* Fondo para opciones seleccionadas */
  font-weight: bold;
  /* Texto en negrita */
}

main {
  margin: 11rem auto;
  max-width: 150rem;
  width: 80vw;
  min-height: 80vh;
  padding: 1rem;
}

h1 {
  font-size: var(--font-size-big);
  color: var(--text-color-title);
  font-weight: bold;
  text-align: center;
}

.svg {
  width: 1.8rem;
  height: 1.8rem;
}

/*INICIO DE ESTILOS DEL INICIO DE SESION Y REGISTRO*/
.login-register-view,
.config-address-view {
  max-width: 60rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--primary-background-color);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-form {
  margin-top: 1rem;
  font-size: var(--font-size-medium);
}

.account-form__button-login,
.account-form__button-signup,
.form__button {
  width: 100%;
  padding: 1.3rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color-base);
  cursor: pointer;
  border-radius: .5rem;
  transition: all .3s ease;
}

.account-form__button-login:hover,
.account-form__button-signup:hover {
  background-color: var(--text-color-hover-buttons);
}

.account-form__logs {
  padding-bottom: 1.5rem;
}

.account-form__error {
  color: var(--error-color);
  padding: .3rem 0;
  font-size: var(--font-size-small);
}

.account-form__forget-password,
.account-form__register-link,
.account-form__login-link {
  display: block;
  padding: .5rem 0 2.5rem;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  text-decoration: none;
}

.account-form__register-link,
.account-form__login-link {
  padding: 2rem;
  color: initial;
}

.account-form__register-link a,
.account-form__login-link a {
  color: var(--secondary-color);
  text-decoration: none;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider__line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--separators-color);
}

.divider__text {
  padding: 0 1rem;
  color: var(--text-color-body);
  font-size: var(--font-size-small);
}

.oauth {
  width: 100%;
  margin-top: 1rem;
}

.oauth__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-small);
  padding: 1.3rem;
  border: none;
  color: var(--text-color-base);
  border-radius: .5rem;
  cursor: pointer;
  margin: .5rem 0;
  gap: 1rem;
}

.oauth__button--facebook {
  background-color: #3B5998;
}

.oauth__button--google {
  background-color: transparent;
  border: solid .1rem var(--gray-color);
  color: var(--gray-color);
}

/*FINAL DE ESTILOS PARA INICIO DE SESION Y REGISTRO*/

/* INICIO DE ESTILOS PARA USER PROPILE*/




.userProfile,
.dashboard {
  margin-top: 11rem;
  display: flex;
  width: 100%;
  height: 100vh;
}

.dashboard {
  margin: 0;
}

.loadComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}




/* REGISTRO E INICIO DE SESION */


@media (width <=768px) {
  main {
    margin: 7.5rem auto 3rem;
  }

  .userProfile {
    margin-top: 7rem;
  }

  .loadComponent {
    width: 75%;
  }
}

@media (width <=390px) {
  main {
    margin: 5rem auto 3rem;
  }

  .userProfile {
    margin-top: 5rem;
  }

  .loadComponent {
    width: 85%;
  }
}