@import url("variables.css");

main {
  margin: 11.5rem auto 3rem;
  max-width: 150rem;
  width: 80vw;
  min-height: 80vh;
  padding: 2rem;
}

h1 {
  font-size: var(--font-size-big);
  color: var(--text-color-title);
  font-weight: bold;
  text-align: center;
}

svg {
  width: 1.6rem;
  height: 1.6rem;
}

/*INICIO DE ESTILOS DEL INICIO DE SESION Y REGISTRO*/
.login-register-view,
.config-address-view {
  max-width: 60rem;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--primary-background-color);
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-form {
  margin-top: 1rem;
  font-size: var(--font-size-medium);
}

.account-form__button-login,
.account-form__button-signup {
  width: 100%;
  padding: 1.3rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color-base);
  cursor: pointer;
  border-radius: .5rem;
  transition: all .3s ease;
}

.account-form__button-login:hover,
.account-form__button-signup:hover {
  background-color: var(--text-color-hover-buttons);
}

.account-form__logs {
  padding-bottom: 1.5rem;
}

.account-form__error {
  color: var(--error-color);
  padding: .3rem 0;
  font-size: var(--font-size-small);
}

.account-form__forget-password,
.account-form__register-link,
.account-form__login-link {
  display: block;
  padding: .5rem 0 2.5rem;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  text-decoration: none;
}

.account-form__register-link,
.account-form__login-link {
  padding: 2rem;
  color: initial;
}

.account-form__register-link a,
.account-form__login-link a {
  color: var(--secondary-color);
  text-decoration: none;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider__line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--separators-color);
}

.divider__text {
  padding: 0 1rem;
  color: var(--text-color-body);
  font-size: var(--font-size-small);
}

.oauth {
  width: 100%;
  margin-top: 1rem;
}

.oauth__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--font-size-small);
  padding: 1.3rem;
  border: none;
  color: var(--text-color-base);
  border-radius: .5rem;
  cursor: pointer;
  margin: .5rem 0;
  gap: 1rem;
}

.oauth__button--facebook {
  background-color: #3B5998;
}

.oauth__button--google {
  background-color: transparent;
  border: solid .1rem var(--gray-color);
  color: var(--gray-color);
}

/*FINAL DE ESTILOS DEL INICIO DE SESION Y REGISTRO*/




.userProfile,
.dashboard {
  margin-top: 11.5rem;
  display: flex;
  width: 100%;
  height: 100vh;
}

.dashboard {
  margin: 0;
}

.loadComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}




/* REGISTRO E INICIO DE SESION */


@media (width <=768px) {
  main {
    margin: 7.5rem auto 3rem;
  }

  .userProfile {
    margin-top: 7rem;
  }

  .loadComponent {
    width: 75%;
  }
}

@media (width <=390px) {
  main {
    margin: 5rem auto 3rem;
  }

  .userProfile {
    margin-top: 5rem;
  }

  .loadComponent {
    width: 85%;
  }
}