@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("formatStyles.css");
@import url('hamburgers.css');

:root {
    /* COLORES PRINCIPALES */

    /*Colores basicos*/
    --black-color: #000000;
    --white-color: #ffffff;
    --gray-color: #666;

    /* Colores de fondo para las paginas completas o componentes*/
    --primary-background-color: #ffffff;
    --secondary-background-color: #f0f2f5;
    --background-hover-menus: #f1f1f1;

    /* Colores de fondo para botones, componentes pequeños e inputs*/
    --primary-color: #62ab18;
    --secondary-color: #4a8b14;
    --tertiary-color: #d8f0c8;
    --required-color: #ff000085;
    --separators-color: #ffffff42;
    --error-color: #c10f0f;
    --help-color: #95989D;
    --option-hover-color: #62ab1828;

    /*Colores de texto*/
    --text-color-title: #030136;
    --text-color-body: #595960;
    --text-color-hover-options: #ebead6;
    --text-color-hover-buttons: #4a8b14;
    --text-color-base: #fff;
    --box-shadow-color: rgba(20, 25, 38, 0.05);
    --border-color: #ebead6;

    /*Fuentes de texto*/
    --font-family: "Poppins";

    /*Tamaños de texto*/
    --font-size-big: 1.8rem;
    --font-size-medium: 1.6rem;
    --font-size-small: 1.4rem;
    --font-size-smallest: 1.2rem;
}

.dark-mode {
    --primary-background-color: #202020;
    --secondary-background-color: #191919;
    --background-hover-menus: #2c2c2c;

    /* Colores de fondo para botones, componentes pequeños e inputs*/
    --primary-color: #4a8b14;
    --secondary-color: #4b7727;
    --tertiary-color: #d8edca;
    --required-color: #ff000085;
    --separators-color: #373737;
    --error-color: #c10f0f;
    --box-shadow-color: rgba(61, 61, 61, 0.05);
    --border-color: #ebead63a;
    --option-hover-color: #44662228;



    /*Colores de texto*/
    --text-color-title: #d4d4d4;
    --text-color-body: #d0c3c3df;
    --text-color-hover-options: #ebead6;
    --text-color-hover-buttons: #446622;
    --text-color-base: #000;
}

.swal2-container,
.swal2-popup {
    font-size: var(--font-size-small) !important;
}